/* basic Aesthetic changes*/

* {
    margin: 0 auto;
    padding: 0;
  }
.container {
  padding: 2em 10vw;
}

  .half img {
    border: 1px solid #3882f6;
    border-radius: 7px;
    width: 200px;
    height: 200px;
  }

 nav li, nav a {
      list-style: none;
      text-decoration: none;
      color: #ffff;
  }

  .dark-background {
    background: #1f2937;  
  }

  button {
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .white-text {
    color: #f9faf8;
  }

  nav .nav-logo {
    font-weight: bold;
    font-size: 24px;
    justify-content: flex-start;
    margin-right: auto;
}

  nav {
      background-color: #1f2937;
      padding: 0;
  }
  nav ul {
    display: flex;
    margin: 0 -10px;
    justify-content: center;
  }

  nav li {
      font-size: 18px;
      margin: 0 10px;
      gap: 15px;
  }

  /* Middle section */
  .middle-sec {
    display: flex;
    gap: 50%;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }


  .middle-sec > * {
    width: 100%;
  }

  .middle-sec img {
    max-width: 100%;
    border: 1px solid white;
  }
  
  .middle-sec h1{
    font-size: 48px;
    font-weight: bold;
  }

  .middle-sec p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 12px;
  }
      
 
  