/* basic Aesthetic changes*/

* {
  margin: 0 auto;
  padding: 0;
}

.container {
padding: 2em 10vw;
}



nav li, nav a {
    list-style: none;
    text-decoration: none;
    color: #ffff;
}

.dark-background {
  background: #1f2937;  
}

.dark-text {
  color: #1f2937;  
}

.middle-sec button {
  border: none;
  border-radius: 6px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.white-text {
  color: #f9faf8;
}

nav .nav-logo {
  font-weight: bold;
  font-size: 24px;
  justify-content: flex-start;
  margin-right: auto;
}

nav {
    background-color: #1f2937;
    padding: 0;
}
nav ul {
  display: flex;
  margin: 0 -10px;
  justify-content: center;
}

nav li {
    font-size: 18px;
    margin: 0 10px;
    gap: 15px;
}

/* Middle section */
.middle-sec {
  display: flex;
  gap: 25%;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}


.middle-sec > * {
  width: 100%;
}

.middle-sec img {
  height: 100%;
  width: 100%;
}

.middle-sec h1{
  font-size: 48px;
  font-weight: bold;
}

.middle-sec p {
  font-size: 18px;
  color: #e5e7eb;
  padding-bottom: 12px;
}



.half-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-right: 52px;
  margin-left: 30px;
  max-height: 200px;
  padding-bottom: 40px;
}

.title {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 32px;
 font-weight: bold;
 font-size: 36px;
 color: #1f2937;
 padding-bottom: 32px;
}

.info {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap: 20px;
 flex: 1;
 padding-bottom: 40px;
}

.info > div {
align-items: center;
justify-content: center;
text-align: center;
}


.img-box {
 align-items: center;
 justify-content: center;
  border: 1px solid #3882f6;
  flex-wrap: wrap;
  border-radius: 7px;
  width: 200px;
  height: 200px;
}

.quote {
  padding: 60px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;

}

.quote-author {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: right;
  font-size: 18px;
}

blockquote, cite {
  background-color: #e5e7eb;
  color: #1f2937;
}

blockquote {
  padding: 40px 70px 2em;
  font-size: 36px;
  font-weight: lighter;
  text-align: left;
  font-style: italic;
  position: relative;

}

cite {
  font-size: 18px;
  position: relative;
  top: 2em;
}


.call-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;

  
}

button {
  border-radius: 6px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.call-box {
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #3882f6;
  gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}